 <!--
****************************************************************************
 HTML - The Gossip Project (Sinatra)
****************************************************************************
   	Ruby's Program - gossipx
   	Written by: Guillaume CHRISTE
 	Date: 28-Jan-2019
    
    Description:
  		- 
  		- 
 
****************************************************************************
*-->
<html>
	<head>
		<title>The Gossip Project</title>
	</head>

	<body>
		<h4>Here is the gossip: </h4>
				<strong> <%= gossip.author %> </strong> <br/>
				<%= gossip.content %><br/><br/>
		<div>
			<br/><br/>
		</div>

		<footer>XOXO - Gossip Girls</footer>
	</body>
</html>
<!-- 
 End of HTML Page ............................................................
 .............................................................................
 .............................................................................
 -->