 <!--
****************************************************************************
 HTML - The Gossip Project (Sinatra)
****************************************************************************
   	Ruby's Program - new_gossip
   	Written by: Guillaume CHRISTE
 	Date: 28-Jan-2019
    
    Description:
  		- 
  		- 
 
****************************************************************************
*-->
<html>
	<head>
		<title>The Gossip Project - Edit</title>
	</head>

	<body>
		<h2>Edit Gossip n° <%= ind %></h2>

		<form action="/gossips/<%= ind %>/show/" method="POST">
	  		Enter your name:<br>
	  		<input type="text" name="gossip_author" value="<%= gossip.author %>">
	  		<br><br>
	  		Enter your Gossip:<br>
	  		<input type="text" name="gossip_content" value="<%= gossip.content %>">
	  		<br><br>
	  		<input type="submit" value="Submit">
		</form> 

		<p>Click on submit to modify the gossip</p>

		<div>
			<br/><br/>
		</div>

		<footer>XOXO - Gossip Girls</footer>
	</body>
</html>
<!-- 
 End of new_gossip ...........................................................
 .............................................................................
 .............................................................................
 -->